<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Register</title>
</head>
<body>
    <h2>Register First !</h2>
    <form method="POST">
        <div>
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="first_name" required>
          </div><br>
          <div>
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="last_name">
          </div><br>
          <div>
            <label for="phone_number">Phone Number</label><br>
            <input type="text" name="phone" id="phone">
          </div><br>
          <div>
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" required>
          </div><br>
          <div>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" required>
          </div><br>
          <div>

            <input type="submit" value="Register">
          </div>
    </form>
</body>
</html>